{% extends 'admin/change_form.html' %}

{% block extrahead %} {{ block.super }}
    {% if original %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script type="text/javascript">
        var oauth_callback = '/man/oauth_callback/{{original.pk}}/';

        function request_etsy_token() {
            var r = confirm("WARNING: This will overwrite existing tokens!");
            if (r == true) {
                $.get(oauth_callback, {}, function(login_url) {
                    $("#id_login_url").attr("href", login_url);
                    $("#id_etsy_connect").show();
                });
            }
            return false;
        }

        function save_etsy_token() {
            $.post(oauth_callback, {"verifier": $("#id_verifier").val()}, function(data) {
                location.reload();
            });
            return false;
        }

        $(function () {
            $("#id_etsy_connect").hide();
        });
    </script>
    {% endif %}
{% endblock %}

{% block object-tools %} {{ block.super }}
    {% if opts.model_name == "etsyshop" %}
        {% if original %}
            <div style="float:right">
                <input type="button" style="background-color: #ba2121" value="ETSY - Request shop tokens" onclick="request_etsy_token();" />
                <br />
                WARNING: ETSY will ask to login as shop owner!
            </div>
            <hr />
            <ol id="id_etsy_connect">
                <li><b>Open <a target="_blank" id="id_login_url" href="#">ETSY to grant access to {{original.title}}</a></b></li>
                <li>Place verification code here: <input type="text" id="id_verifier" /></li>
                <li><input type="button" value="Connect shop to ETSY" onclick="save_etsy_token();" /></li>
            </ol>
        {% endif %}
    {% endif %}
{% endblock %}

{% block submit_buttons_bottom %} {{ block.super }}
    {% if opts.model_name == "etsyshop" %}
        {% if original %}
        <div class="submit-row">
            <input type="button" value="Test ETSY API" onclick="window.open('/man/etsy_response/{{original.pk}}/?method=shops/__SELF__')" />

            <p><b>Start Download Job for:</b></p>

            <input type="button" value="Countries" onclick="window.open('/man/run_job/{{original.pk}}/?method=country')" />

            <input type="button" value="Active Listings" onclick="window.open('/man/run_job/{{original.pk}}/?method=listing')" />
            <input type="button" value="Inactive Listings" onclick="window.open('/man/run_job/{{original.pk}}/?method=inactive')" />
            <input type="button" value="Draft Listings" onclick="window.open('/man/run_job/{{original.pk}}/?method=draft')" />
            <input type="button" value="Expired Listings" onclick="window.open('/man/run_job/{{original.pk}}/?method=expired')" />

            <input type="button" value="Receipts" onclick="window.open('/man/run_job/{{original.pk}}/?method=receipt')" />

            <input type="button" value="Transactions" onclick="window.open('/man/run_job/{{original.pk}}/?method=transaction')" />
        </div>
        {% endif %}
    {% endif %}
{% endblock %}
